name: Go

# Workflow запускается на push в main и на push тегов
on:
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    container: golang:1.24.5
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: go mod tidy

      - name: Run Unit Tests
        run: GOOS=linux GOARCH=amd64 go test ./...

      - name: Run Go Vet
        run: |
          go vet ./...

  deploy:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    needs: test
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5.5.1
        with:
          images: happynessnextdoor/parcel-tracker

      - name: Build and push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}